/*Typora 主题: Marble (意: 大理石)| 地址: https://github.com/yoghurtlee-thu/typora-theme-marble  https://gitee.com/yoghurtlee-thu/typora-theme-marble */

/*Typora Theme: Marble | https://github.com/yoghurtlee-thu/typora-theme-marble  https://gitee.com/yoghurtlee-thu/typora-theme-marble */

@import url('marble/LXGWWenKaiGBScreen/font.css');

:root {
    --text-color: #2b353af5;
    /* 文本颜色 Text */
    --primary-color: #000000;
    /* 基础颜色 Primary Color */
    --bg-color: #ffffff;
    --side-bar-bg-color: var(--bg-color);
    /* 背景色 Background */

    --marker-color: #020101;
    /* List Marker */
    --highlight-color: #ffffe0;
    /* 高亮 Highlight */
    --header-udln-color: #A9A9A9;
    /* H2 标题下划线 h2 underline Color */
    --block-bg-color: #e8e8e8d0;
    /* 块元素背景色 Block Background */
    --img-shadow-color: #e3e8f0;

    /* Overwrite of Typora Base Color */
    --search-hit-bg-color: var(--select-text-bg-color);
    --search-select-bg-color: #1a1a1a;
    --control-text-hover-color: #c4d2e7;
    --rawblock-edit-panel-bd: var(--block-bg-color);
    --item-hover-bg-color: rgb(246 248 250);
    --active-file-bg-color: var(--block-bg-color);
}

@media print {
    :root {
        --text-color: rgb(0, 0, 0);
    }

    ::-webkit-scrollbar-thumb {
        background-color: transparent !important;
    }
}

/*
 * 字体采用 Cantarell, 霞鹜文楷 GB Screen 和 JetBrains Mono
 * Font-face for Cantarell, LXGWWenKai GB Screen and JetBrains Mono
 */

@font-face {
    font-family: "Cantarell";
    src: url('marble/Cantarell-VF-fixed.otf');
}

@font-face {
    font-family: "JetBrainsMono";
    src: url('marble/JetBrainsMono-Regular.ttf');
}

/* 基础样式 Basic Style */

#write {
    max-width: 950px;
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 1.6;
    word-spacing: 0px;
    letter-spacing: 0px;
    word-break: break-word;
    word-wrap: break-word;
    text-align: justify;

    font-family: 'Cantarell', 'LXGWWenKaiGBScreen', 'JetBrainsMono';
    margin-bottom: 20rem;
}

.searchpanel-search-option-btn {
    position: absolute;
    width: 24px;
    height: 16px;
    right: 5px;
    top: 5px;
    z-index: 99;
    cursor: pointer;
    margin-top: 1px;
    padding: 1px;
    border-radius: 3px;
    line-height: 10px;
    border: 1px solid #ddd;
    border-color: var(--active-toggle-btn-color);
}

#write strong {
    color: var(--primary-color);
    font-weight: 575;
}

/* 链接 Link */

#write strong {
    color: var(--primary-color);
    font-weight: 575;
    text-shadow: 0.4px 0.4px 0.8px rgba(0, 0, 0, 0.2);
}

#write .md-p a,
#write .md-heading a {
    word-wrap: break-word;
    text-decoration: underline solid;
    margin: 2px;
}

#write h2.md-heading a {
    text-decoration: underline;
    border-bottom: 0;
    text-decoration-thickness: 1.2px;
    text-underline-offset: 2px;
}

[md-inline=url],
[md-inline=link]>.md-content,
[md-inline=image]>.md-meta {
    word-break: break-all;
    font-weight: normal;
    font-family: 'JetBrainsMono';
    padding-left: 0.15rem;
    padding-right: 0rem;
    color: var(--marker-color);
}

/* 目录 TOC */

.md-toc-content {
    font-family: 'Cantarell', 'LXGWWenKaiGBScreen';
}

.md-toc-content:empty:before {
    color: var(--primary-color);
}

#write div.md-toc-tooltip {
    font-family: 'Cantarell', 'LXGWWenKaiGBScreen';
    color: var(--primary-color);
    position: static;
    margin-top: 10px;
    background-color: var(--block-bg-color);
    line-height: 1.6rem;
    padding: 0.3rem 0.75rem;
    border-top: none;
    border-radius: .5rem;
}

.md-toc:focus .md-toc-content {
    border-color: var(--bg-color);
    margin: 9px -1px;
    margin-top: 9px;
}

.md-toc .md-toc-content {
    border-color: var(--bg-color);
    margin: 9px 0px;
    margin-top: 8px;
}


/* mark */

mark {
    background: var(--highlight-color);
    padding: 1px .15rem;
    border-radius: 1px;
    color: inherit;
}

/* 段落 Paragraph */

#write+p,
#write blockquote p {
    font-size: 1.1rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    margin: 0;
    line-height: 1.8rem;
    color: var(--text-color);
}

/* 标题 Header */

#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
    font-weight: strong;
}

#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
    font-family: 'Cantarell', 'LXGWWenKaiGBScreen';
    padding: 0px;
    color: var(--primary-color);
}

#write h1 {
    text-align: center;
}

#write h2 {
    color: var(--primary-color);
    padding: 1px 0px;
    display: inline-block;
    background-image: linear-gradient(to left, transparent, var(--block-bg-color), transparent);
    background-repeat: no-repeat;
    background-size: 120% 1.2px;
    background-position: center bottom;
    /*做了一条很浅的渐变下划线*/
}

#write h2 a {
    color: var(--bg-color);
    border-bottom-color: var(--bg-color) !important;
}

#write h2 strong {
    color: var(--bg-color);
}

#write h2 code {
    color: var(--bg-color);
    background-color: var(--header-udln-color);
}

#write h1 {
    font-size: 2.2em;
}

#write h2 {
    font-size: 2rem;
}

#write h3 {
    font-size: 1.8rem;
}

#write h4 {
    font-size: 1.6rem;
}

#write h5 {
    font-size: 1.4rem;
}

#write h6 {
    font-size: 1.2rem;
}

#write h1 {
    padding-top: 0.9rem;
    margin-bottom: 1.6rem;
}

#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
    margin: 0.5em 0 0.5em;
}

blockquote h3.md-focus:before,
blockquote h4.md-focus:before,
blockquote h5.md-focus:before,
blockquote h6.md-focus:before {
    left: -1.3rem;
}

/*为了方便区分, 在2~6级标题前面加了一个小标记*/

#write h2::before,
#write h3::before,
#write h4::before,
#write h5::before,
#write h6::before {
    vertical-align: super;
    font-size: 0.35em;
    margin-right: 0.4em;
}

#write h2::before {
    content: "H2";
}

#write h3::before {
    content: "H3";
}

#write h4::before {
    content: "H4";
}

#write h5::before {
    content: "H5";
}

#write h6::before {
    content: "H6";
}

/* 列表 List */

::marker {
    font-weight: bold;
    color: var(--marker-color);
}

li.md-list-item {
    margin: 0.5rem 0;
}

#write ul,
#write ol {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 20px;
}

#write ul {
    list-style-type: disc;
}

#write em {
    padding: 0 3px 0 0;
}

#write ul ul {
    list-style-type: square;
}

#write ol {
    list-style-type: decimal;
}

#write li section {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.7rem;
    text-align: justify;
    color: var(--text-color);
    font-weight: 500;
}

/* 引用块 blockquote */

#write blockquote {
    display: block;
    font-size: .9em;
    overflow: auto;
    padding: 15px 30px 15px 42px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: var(--block-bg-color);
    position: relative;
}

#write blockquote::before {
    content: ">";
    /*加了一个小标记>*/
    font-size: 2.3em;
    position: absolute;
    left: 20px;
    /* 调整左侧位置 */
    top: 50%;
    /* 居中显示 */
    transform: translateY(-55%);
    /* 用于垂直居中 */
    color: #E0E0E0;
}

/* 内联代码 inline code */

#write code {
    color: var(--primary-color);
    font-size: 94%;
    font-weight: normal;
    word-wrap: break-word;
    padding: 2px 4px 2px;
    border-radius: 3px;
    margin: 2px;
    background-color: var(--block-bg-color);
    font-family: 'JetBrainsMono';
    word-break: break-all;
}

/* 图像 */

#write img {
    margin: 0 auto;
    max-width: 100%;
}

#write p>.md-image:only-child:not(.md-img-error) img,
#write p>img:only-child {
    filter: drop-shadow(var(--img-shadow-color) 0px 6px 6px);
    display: block;
    margin: 0 auto;
    padding: 1rem;
}

/* 表格 Table */

#write table {
    display: table;
    text-align: justify;
    overflow-x: auto;
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: 1em;
    margin: 0px 0px 20px;
    width: 100%;
}

#write tbody {
    border: 0;
}

#write table tr {
    border: 0;
    border-top: 1px solid #ccc;
}

#write table tr th,
#write table tr td {
    font-size: 1rem;
    border: 1px solid #d9dfe4;
    padding: 5px 10px;
    text-align: justify;
}

#write table tr th {
    font-family: LXGWWenKaiGBScreen;
    text-align: center;
    min-width: 10rem;
    font-weight: bold;
    color: var(--primary-color);
}

#write table tr td:hover,
#write table tr th:hover {
    background-color: var(--block-bg-color);
}

table td {
    min-width: 32px;
}

.md-table-resize-popover {
    width: auto !important;
}

/* 脚注 Footnote */

sup.md-footnote {
    background-color: var(--block-bg-color);
    color: var(--primary-color);
}

.md-def-name {
    color: var(--primary-color);
}

/* 数学公式 Math Script */

.md-inline-math script {
    color: var(--primary-color);
}

.md-rawblock-control:not(.md-rawblock-tooltip) {
    background: var(--bg-color);
    color: var(--md-char-color);
}


.code-tooltip {
    box-shadow: none;
}

.md-rawblock-tooltip.md-rawblock-control {
    border-radius: 1rem;
}

.md-rawblock .md-rawblock-tooltip {
    inset: auto 0.3rem auto auto;
    transform: translateY(-120%);
}

/* 
 * Comment
 */
.md-comment {
    color: #a8a8a9;
    opacity: 1;
    font-family: 'JetBrainsMono';
}

/* 分割线 Dividing line */

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1.4px solid;
    border-image: linear-gradient(to right, transparent 10%, #D0DDE6 25%, #D0DDE6 75%, transparent 90%) 1;
    border-radius: 2px;
    /* 渐变分割线 */
}

/* Checkbox */

#write input[type=checkbox] {
    width: 0;
}

.task-list-item input::before {
    content: "";
    display: inline-block;
    width: 1.0125rem;
    height: 1.0125rem;
    vertical-align: middle;
    text-align: center;
    border: 1px solid var(--marker-color);
    border-radius: 1.2rem;
    background-color: #fdfdfd;
    margin-left: -0.1rem;
    margin-right: 0.1rem;
    margin-top: -.6rem;
}

.task-list-item input:checked::before {
    content: '???';
    font-weight: bold;
    -webkit-text-stroke: 1px var(--primary-color);
    color: var(--primary-color);
    background-color: var(--bg-color);
    font-size: 0.75rem;
    line-height: 0.8rem;
}

blockquote .task-list-item input::before {
    margin-top: .2rem;
}

/*
 * Sidebar
 */
#typora-sidebar {
    font-family: 'Cantarell', 'LXGWWenKaiGBScreen';
    height: 100%;
    color: var(--text-color);
    font-size: 0.92rem;
    background-color: var(--bg-color);
}

#sidebar-content.sidebar-content {
    margin-top: .5rem;
}

.html-for-mac #write input[type=checkbox] {
    margin-top: 0.65rem;
}

.html-for-mac #write .task-list-item input::before {
    margin-top: -.85rem;
}


/*
 * Sidebar - FileNode
 */

.active-tab-files #info-panel-tab-file .info-panel-tab-border,
.active-tab-outline #info-panel-tab-outline .info-panel-tab-border,
.ty-show-search #info-panel-tab-search .info-panel-tab-border {
    border-radius: 10px;
    height: 1px;
    background-color: var(--primary-color);
}

.file-node-content {
    color: var(--primary-color);
    line-height: 1.6rem;
}

span.file-node-title-name-part {
    color: var(--text-color);
}

span.file-node-title-ext-part {
    color: var(--text-color);
}

.file-node-icon {
    padding-right: 0.2rem;
}

.file-tree-node.active>.file-node-background {
    border-left: 4px solid var(--primary-color);
    border-color: var(--primary-color);
}

/*
 * Sidebar - Outline
 */

#outline-content {
    height: 100%;
    overflow-x: hidden;
    line-height: 1.6rem;
    font-size: .96rem;
}

#outline-content .outline-active,
.pin-outline .outline-active {
    color: var(--primary-color);
}

.outline-item {
    padding-left: 2em;
}

.outline-item>.outline-expander:before {
    transform: translateY(-1px) !important;
}

/* Meta Block */

pre.md-meta-block {
    font-family: 'JetBrainsMono';
    color: var(--primary-color);
    background: #f6f8fa;
    padding: 1.5rem;
    margin: -37px 0rem 3.8rem;
    filter: drop-shadow(var(--img-shadow-color) 0px 3px 3px);
}

pre.md-fences-advanced.md-focus .md-fences-adv-panel {
    border-radius: .8rem;
}

/*
 * Scrollbar
 */

#outline-content::-webkit-scrollbar {
    width: .5rem;
}

#file-library::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(179, 179, 179, 0.425);
}

::-webkit-scrollbar {
    width: 1rem;
}

/* 代码块风格 Code Block - Style */

.md-fences:before {
    content: ' ';
    display: block;
    width: 100%;
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: #d9d9d9;
    margin-bottom: -7px;
    border-radius: 5px;
    background-position: 10px 10px;
}

.CodeMirror-wrap .CodeMirror-scroll {
    overflow-x: auto;
}

.md-fences .cm-s-inner.CodeMirror {
    margin: 1.5rem 0;
}

.cm-s-inner.CodeMirror {
    padding: 1.2rem .8rem;
    color: #4f5467;
    font-family: 'JetBrainsMono';
    border-radius: 10px;
    background-color: #f4f4f4;
    line-height: 1.6rem;
}

.CodeMirror-gutters {
    border-right: 1px solid #a2b6d452;
    background: inherit;
    white-space: nowrap;
}

pre.CodeMirror-line {
    padding: 0 1.2rem;
}

.CodeMirror-linenumber {
    padding: 0 3px 0 5px;
    text-align: right;
    color: #3498db;
}

/* 关键字 - 海蓝石 */
.cm-s-inner .cm-keyword {
    color: #87d4eb !important;
}

/* 操作符 - 铁灰色 */
.cm-s-inner .cm-operator {
    color: #43464B !important;
}

/* 变量、内置对象、头文件、标签、属性、引用 - 紫水晶 */
.cm-s-inner .cm-variable,
.cm-s-inner .cm-builtin,
.cm-s-inner .cm-header,
.cm-s-inner .cm-tag,
.cm-s-inner .cm-property,
.cm-s-inner .cm-quote {
    color: #9932CC !important;
}

/* 变量2 - 绿松石 */
.cm-s-inner .cm-variable-2 {
    color: #30d5b1 !important;
}

/* 变量3、类型、原子 - 蓝宝石 */
.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type,
.cm-s-inner .cm-atom {
    color: #3c7ce3 !important;
}

/* 数字 - 玫瑰石膏 */
.cm-s-inner .cm-number {
    color: #e5c0ff !important;
}

/* 定义、限定符 - 青金石 */
.cm-s-inner .cm-def,
.cm-s-inner .cm-qualifier {
    color: #1357a5c2 !important;
}

/* 字符串 - 黄铁矿 */
.cm-s-inner .cm-string {
    color: #8B4513 !important;
}

/* 字符串2 - 绿松石 */
.cm-s-inner .cm-string-2 {
    color: #30D5C8 !important;
}

/* 注释 - 银灰 */
.cm-s-inner .cm-comment {
    color: #C0C0C0 !important;
}

/* 元数据 - 暗金色 */
.cm-s-inner .cm-meta {
    color: #B8860B !important;
}

/* 属性 - 紫水晶 */
.cm-s-inner .cm-attribute {
    color: #9932CC !important;
}

/* 错误 - 铁玫瑰 */
.cm-s-inner .cm-error {
    color: #FFFFFF !important;
    background-color: #D02537 !important;
}

/* 匹配的括号 - 白垩石 */
.cm-s-inner .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: #ffffffc3 !important;
}

.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid #3498db;
    z-index: 3;
}

.cm-s-inner div.CodeMirror-selected {
    background: rgba(52, 152, 219, 0.2) !important;
}

.cm-s-inner.CodeMirror-focused div.CodeMirror-selected {
    background: rgba(52, 152, 219, 0.2) !important;
}

.cm-s-inner .CodeMirror-selected,
.cm-s-inner .CodeMirror-selectedtext {
    background-color: rgba(52, 152, 219, 0.0) !important;
}

.cm-s-inner .CodeMirror-line::-moz-selection,
.cm-s-inner .CodeMirror-line>span::-moz-selection,
.cm-s-inner .CodeMirror-line>span>span::-moz-selection {
    background-color: rgba(52, 152, 219, 0.2);
}

.cm-s-inner .CodeMirror-line::selection,
.cm-s-inner .CodeMirror-line>span::selection,
.cm-s-inner .CodeMirror-line>span>span::selection {
    background-color: rgba(52, 152, 219, 0.2);
}

.md-rawblock .md-rawblock-tooltip {
    inset: auto 0.3rem auto auto;
    transform: translateY(-120%);
}

.megamenu-menu-header {
    border: none;
    color: var(--text-color);
}

.megamenu-menu-header #megamenu-back-btn,
.megamenu-menu-header .megamenu-menu-header-title-back,
.megamenu-menu-header .megamenu-menu-header-title-menu {
    color: var(--text-color);
}

.megamenu-menu {
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: none !important;
}

header,
#megamenu-content {
    background-color: var(--bg-color);
    background-image: none !important;
}

.md-search-hit {
    background-color: var(--search-hit-bg-color);
}

#recent-file-panel tbody tr:nth-child(2n-1) {
    background-color: var(--recent-file-panel-n-bg-color);
    color: var(--recent-file-panel-n-color);
}